:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 16px/1.5 var(--sans);
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #0d1b2a;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  min-height: 100svh;
}

h1, h2, h3 {
  margin: 0;
}

p {
  margin: 0;
}